@tailwind base;
@tailwind components;
@tailwind utilities;

/* App-level custom styles */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-slate-950 antialiased;
}

* {
  @apply transition-colors duration-200;
}
